@mixin scale($var) {
    transform: scale($var);
    -webkit-transform: scale($var);
    -moz-transform: scale($var);
    -ms-transform: scale($var);
    -o-transform: scale($var);
}

.header {
    background-color: #7d2504;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 5%;
    color: #fff;
    .btr-cart {
        padding: 0px 4rem;
        text-align: center;
        font-size: 20px;
        img {
            margin-right: .5rem;
        }
        span {
            background: #af3b16;
            margin: .8rem;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
    .bump {
        animation: bump .3s ease-in;
        -webkit-animation: bump .3s ease-in;
    }
}

@keyframes bump {
    0% {
        @include scale(.9);
    }
    50% {
        @include scale(1.1);
    }
    100% {
        @include scale(1);
    }
}