.button {
    background-color: #431500;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}